@charset 'utf-8';
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
    --main-color: #e3000b;
    --title-color: #121212;
    --sub-color1: #ffd502;
    --text-color: #333;

    font-size: 62.5%;
}

::selection {
    background: #ffd500;
    color: #0873ff;
}

.hidden {
    position: absolute;
    margin: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

body {
    font: 2rem/1.5 "Pretendard", sans-serif;
    color: var(--text-color);
    min-width: 320px;
    text-transform: capitalize;
    word-break: keep-all; /* wbka */
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.4s;
}

a:hover {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
